@font-face {
    font-family: coolvetica;
    src: url(../font/coolvetica\ condensed\ rg.otf);
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "coolvetica";
    color:#476072;
}

body {
    background-color: #F6F5F5;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

main {
    margin: auto;
    width: 50%;
    height: 100%;
    align-items: center;
}

a {
    text-decoration: none;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.flex--row {
    display: flex;
    flex-direction: row;
}