.researchbar{
    height:25px;
    width:300px;
    size:15px;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
}

.website--searchbar{
    display:flex; 
    justify-content:center;
}
